{% extends "pages/base.html" %}

{% block title %} Product detail {% endblock %}

{% block content %}
<div class="container mt-2">
        <div class="row mt-5 ">
            <div class="col-6">
                <div class="title">
                    <h4>{{ product_detail.product_name }}</h4>
                </div>
                <img src="{{product_detail.product_image.url}}" width="500px" height="400px"  style="object-fit: cover; border-radius: 0.4rem;"/>
                    <!-- Input for Product Image -->
                
                
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label" for="product_name"><strong>Product Name:</strong></label>
                    <input class="form-control" type="text" id="product_name" name="product_name" value="{{ product_detail.product_name }}" required>
                </div>
                <div class="form-group">
                    <label for="product_desc"><strong>Desciption:</strong></label>
                    <textarea type="product_desc" class="form-control" id="product_desc" name="product_desc" required>{{product_detail.product_desc}}</textarea>
                </div>
                <div class="form-group">
                    <label for="product_price"><strong>Product price:</strong></label>
                    <input type="number" class="form-control" id="product_price" name="product_price" value="{{product_detail.product_price}}" required>
                </div>
                <div class="form-group">
                    <label for="product_quantity"><strong>Product quantity:</strong></label>
                    <input type="number" class="form-control" id="product_quantity" name="product_quantity" value="{{product_detail.product_quantity}}" required>
                </div>
                <div class="form-group">
                    <label for="product_category"><strong>Category:</strong></label>
                    <input type="text" class="form-control" id="product_category" name="product_category" value="{{product_detail.product_category}}" required>
                </div>
            </div>
        </div>
</div>
{% endblock %}