{% extends "staff/base_staff.html" %}

{% block title %} User Management {% endblock %}

{% block content %}
<div class="container">
    <div class="add-form">
        <button id="showFormBtn" class="btn btn-primary mt-2">Create new user admin</button>
        {{ error_message }}
        <form action="{% url 'user:create_user' %}" method="post" id="add_user_form" class="border p-3 mt-2" style="display: none; border-radius: 0.4rem; ">
            {% csrf_token %}
            <div class="form-group">
                <label for="username"><strong>User Name:</strong></label>
                <input type="text" class="form-control" id="username" name="username"  required>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="first_name"><strong>First name:</strong></label>
                    <input class="form-control" id="first_name" name="first_name">
                </div>
                <!-- Input for Product Quantity -->
                <div class="col-6">
                    <label class="form-label" for="last_name"><strong>Last name:</strong></label>
                    <input class="form-control" id="last_name" name="last_name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="phone"><strong>Phone:</strong></label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                </div>
                <div class="col-6">
                    <label for="email"><strong>Email:</strong></label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password1"><strong>Password:</strong></label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <label for="password2"><strong>Re-password:</strong></label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <div class="">
                <label class="form-label" for="staff_status"><strong>Staff:</strong></label>
                <div class="" id="selectedStatus"></div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_staff" id="checkStaff" checked>
                    <label class="form-check-label" for="checkStaff">
                        Staff
                    </label>
                </div>
            </div>        
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-warning"id="hideFormBtn">Cancel</a>
        </form>
    </div>
    <hr>
    <div class="title">
        <h3>User list</h3>
    </div>
    <div class="table-order border p-3" style="border-radius: 0.4rem ;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link tab-item " aria-current="page" href="?is_staff=False">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-item " aria-current="page" href="?is_staff=True">Admin</a>
            </li>
          </ul>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>is_staff</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr class="border p-2 text-center">
                    <td scope="row">{{ user.id }}</td>
                    <td classs="customer-name">{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_staff }}</td>
                    <td><a class="btn btn-success" href="{% url 'user:user' user.id %}">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        // Lấy đường dẫn hiện tại của trang
        var currentPath = window.location.pathname + window.location.search;
        // Tìm tất cả các thẻ a trong thanh điều hướng
        var navLinks = document.querySelectorAll('ul li .tab-item');
        
        // Lặp qua từng thẻ a để kiểm tra xem đường dẫn của nó có khớp với đường dẫn hiện tại không
        navLinks.forEach(function (link) {
            var hrefValue = link.getAttribute('href');
            // Nếu đường dẫn hiện tại bắt đầu bằng giá trị href của liên kết
            if (currentPath.includes(hrefValue)) {
                // Thêm lớp "active" vào thẻ li chứa liên kết
                link.classList.add('active');
                console.log(link);
            }else{
                activeListItem = document.querySelector('.navbar-nav li a[href="/staff"]').parentNode;
                            
            }
           
                
        });
    });
    document.addEventListener('DOMContentLoaded', function(){
        var showbtn = document.getElementById('showFormBtn')
        var hidebtn = document.getElementById('hideFormBtn')
        var add_user_form= document.getElementById('add_user_form')

        showbtn.addEventListener('click', function(){
            add_user_form.style.display = 'block';
        })
        hidebtn.addEventListener('click', function(){
            add_user_form.style.display = 'none';
        })
    })  
       
</script>
{% endblock %}