{% extends "staff/base_staff.html" %}

{% block title %} Product Management {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row py-3 px-3" style="background-color: #cbd2fd; height: 10rem; width: 100%;; position: absolute;">
        <div class="col-sm-2">
            <a href="{% url 'product:product_list' %}" class="btn btn-status">All</a>
        </div>
        <div class="col-sm-2">
            <a href="?status=True" class="btn btn-status" >Sale</a>
        </div>
        <div class="col-sm-2">
            <a href="?status=False" class="btn btn-status" >UnSale</a>
        </div>
        
        <div class="col-sm-3">
            <form method="GET" action="{% url 'product:product_list' %}" class="d-flex" role="search">
                <input name="search" value="{{ query }}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        
       
    </div>
    <div class="row mt-8" style="position: absolute;" >
        <!--add product-->
        <div class="col-sm-2 m-3">
            <a href="{% url 'product:add_product' %}" type="submit" class="card jus" style="width: 13rem; height: 16rem; border-radius: 0.4rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); display: flex; justify-content: center; align-items: center; text-decoration: none;">
                <span class="text-center border" style="border-radius: 50%; background-color: rgb(0, 0, 222); height: 5rem; width: 5rem; display: flex; justify-content: center; align-items: center; font-size: 2.5rem; color: #fff;box-shadow: 0px 0px 10px rgba(76, 11, 125, 0.1)"><strong>+</strong></span>
            </a>
        </div>
        
        
    {% for product in products %}
        <div class="col-sm-2 m-3">
            <a href="{% url 'product:product_detail' product.id %}"  class="card" style="width: 13rem; height: 16rem; border-radius: 0.4rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);"> 
                {% if product.product_image %}
                <img src="{{product.product_image.url}}" class="card-img-top" style="width: 13rem; height: 10rem;" alt="product_img">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                
                <div class=" row card-body">
                    {% if product.promotion %}
                    <span  class="badge text-bg-danger badge-discount"> Discount</span>
                    {% endif %}
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <div class="col-6">
                        {% if product.promotion %}
                        <p class="card-text" style="color: red;">{{product.product_price}}</p>
                        {% else %}
                        <p class="card-text">{{product.product_price}}</p>
                        {% endif %}
                    </div>
                    <div class="col-6 text-end">
                        {% if product.status %}
                        <span  class="badge text-bg-success"> Sale</span>
                        {% else %}
                        <span class="badge text-bg-danger"> Un-Sale</span>

                        {% endif %}
                    </div>
                   
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
<script>
    document.querySelector('.btn-status').addEventListener('click', function() {
        this.classList.toggle('active'); // Thêm hoặc xóa class 'active'
    });
</script>
{% endblock %}