{% extends "staff/base_staff.html" %}

{% block title %} Product Management {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row py-3 px-3" style="background-color:#b6ccd8">
        <div class="col-sm-2">
            <a href="{% url 'product:product_list' %}" class="btn btn-status">All</a>
        </div>
        <div class="col-sm-2">
            <a href="?status=True" class="btn btn-status" >Sale</a>
        </div>
        <div class="col-sm-2">
            <a href="?status=False" class="btn btn-status" >UnSale</a>
        </div>
        
        <div class="col-sm-3">
            <form method="GET" action="{% url 'product:product_list' %}" class="d-flex" role="search">
                <input name="search" value="{{ query }}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'product:add_product' %} " class="btn btn-primary" type="submit">Add new product</a> 
        </div>
       
    </div>
    <div class="row">
    {% for product in products %}
        <div class="col-sm-2 m-3">
            <a href="{% url 'product:product_detail' product.id %}"  class="card" style="width: 13rem; height: 15rem;border-radius: 0.4rem; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);"> 
                {% if product.product_image %}
                <img src="{{product.product_image.url}}" class="card-img-top class= border p-4" style="width: 13rem; height: 10rem;" alt="product_img">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.product_price}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
<script>
    document.querySelector('.btn-status').addEventListener('click', function() {
        this.classList.toggle('active'); // Thêm hoặc xóa class 'active'
    });
</script>
{% endblock %}