{% extends "staff/base_staff.html" %}

{% block title %} Voucher Management {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="add-form">
        <button id="showFormBtn" class="btn btn-primary">Create new voucher</button>
        {{ error_message }}
        <form action="{% url 'voucher:create_voucher' %}" method="post" id="v_form" class="border p-3 mt-2" style="display: none; border-radius: 0.4rem; ">
            {% csrf_token %}
            <div class="form-group">
                <label for="voucher_name">Voucher name</label>
                <input type="text" name="voucher_name" id="voucher_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="v_discount">Discount</label>
                <input type="text" name="v_discount" id="v_discount" class="form-control">
            </div>
            <div class="form-group">
                <label for="v_quantity">Quantity</label>
                <input type="text" name="v_quantity" id="v_quantity" class="form-control">
            </div>
            <div class="">
                <label class="form-label" for="is_active"><strong>Status:</strong></label>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="status" id="checkStatus" >
                    <label class="form-check-label" for="checkStatus">
                        Active
                    </label>
                </div>
            </div>    
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-warning"id="hideFormBtn">Cancel</a>
        </form>
    </div>
    <hr>
    <div class="list-promote">
        <div class="row p-2">
            {% for v in vouchers %}
            <div class="card col-sm-6 m-2 " style=" width: 26rem;border:none; background-color:rgb(240, 240, 240); ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{ v.voucher_name }}</h4>
                        </div>
                        <div class="col-6 text-end">
                            <a href="" class="btn btn-success"><strong>...</strong></a>
                        </div>
                    </div>
                   
                    <hr style="border: none; height: 5px; background-color: rgb(0, 94, 3);">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text"><strong>Status</strong></p>
                        </div>
                        <div class="col-6 text-end" >
                            {% if v.status %}
                            <strong style="color: rgb(0, 183, 12);">active</strong>
                            {% else %}
                            <strong style="color: rgb(183, 0, 0);">no-active</strong>
                            {% endif %}
                        </div>
                    </div>        
                </div>
            </div>
       {% endfor %}
        </div> 
    </div>
    <div class="promote-info">
        
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var showbtn = document.getElementById('showFormBtn')
        var hidebtn = document.getElementById('hideFormBtn')
        var v_form = document.getElementById('v_form')

        showbtn.addEventListener('click', function(){
            v_form.style.display = 'block';
        })
        hidebtn.addEventListener('click', function(){
            v_form.style.display = 'none';
        })
    })  
</script>

{% endblock %}