{% extends "staff/base_staff.html" %}

{% block title %} Promote Management {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="add-form">
        <button id="showFormBtn" class="btn btn-primary">Create new promote</button>
        {{ error_message }}
        <form action="{% url 'promotion:create_promote' %}" method="post" id="promote_form" class="border p-3 mt-2" style="display: none; border-radius: 0.4rem; background-color: #fff;">
            {% csrf_token %}
            <div class="form-group">
                <label for="promote_name">Promote name</label>
                <input type="text" name="promote_name" id="promote_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="discount">Discount</label>
                <input type="text" name="discount" id="discount" class="form-control">
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="start_date">Start date:</label>
                    <input type="date" name="start_date" id="start_date" class="form-control">    
                </div>
                <div class="form-group col-6">
                    <label for="end_date">End date:</label>
                    <input type="date" name="end_date" id="end_date" class="form-control" >  
                </div>
            </div>
            <div class="form-group">
                <label for=""><strong>Select product:</strong></label>
                <div class="checkbox-list">
                    {% for product in products %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="products" value="{{ product.id }}" id="products{{ product.id }}">
                            <label class="form-check-label" for="products{{ product.id }}">
                                {{ product.product_name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="">
                <label class="form-label" for="is_active"><strong>Status:</strong></label>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="status" id="checkStatus" >
                    <label class="form-check-label" for="checkStatus">
                        Active
                    </label>
                </div>
            </div>    
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-warning"id="hideFormBtn">Cancel</a>
        </form>
    </div>
    <hr>
    <div class="list-promote">
        <div class="row p-2">
            {% for promote in promote_list %}
            <div class="card col-sm-6 m-2 " style=" width: 26rem;border:none; background-color:rgb(255, 255, 255); ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title">{{ promote.promote_name }}</h4>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{% url 'promotion:promote_detail' promote.id %}" class="btn btn-success"><strong>...</strong></a>
                        </div>
                    </div>
                    {% if promote.status %}
                    <hr style="border: none; height: 5px; background-color: rgb(0, 94, 3);">
                    {%else%}
                    <hr style="border: none; height: 5px; background-color: rgb(219, 0, 0);">
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text"><strong>Status</strong></p>
                        </div>
                        <div class="col-6 text-end" >
                            {% if promote.status %}
                            <strong style="color: rgb(0, 183, 12);">active</strong>
                            {%else%}
                            <strong style="color: rgb(183, 0, 0);">no-active</strong>
                            {% endif %}
                        </div>
                    </div>        
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var showbtn = document.getElementById('showFormBtn')
        var hidebtn = document.getElementById('hideFormBtn')
        var promote_form = document.getElementById('promote_form')

        showbtn.addEventListener('click', function(){
            promote_form.style.display = 'block';
        })
        hidebtn.addEventListener('click', function(){
            promote_form.style.display = 'none';
        })
    })  
</script>

{% endblock %}